body {
	font-family: sans-serif;
	font-size: 14pt;
	background: #000;
	color: #DDD;
	margin: 0 50px;
}
div.player {
	background-color: #666666;
	border: 1px solid #000;
	color: #FFFFFF;
	z-index: 4;
	width: 500px;
	
}
div.player #capsule {
	border: 1px solid #000;
	background: #000;
	overflow: hidden;
	width: 200px;
	display: inline-block;
	height: 10px;
}
div.player #capsule #cursor {
	background-color: #FFFFFF;
	width: 0;
	display: inline-block;
	height: 100%;
	line-height: 0px;
}
div.player span.time {
	position: relative;
	top: -2px;
	padding: 0 10px;
	width: 40px;
	display: inline-block;
	text-align: right;
}
div.player div.time-controls {
	width: 560px;
	margin: 10px auto 0;
	font-size: 8pt;
	font-family: sans-serif;
}
input[type="image"]:hover {
	opacity: 1;
}
input[type="image"]:active {
	opacity: 0.85;
}
input[type="image"] {
	opacity: 0.7;
}
p {
	margin: 15px 0 0 15px;
	color: #403522;
}

div.keyColor {
	width: 100%;
}

div.channel {
	width: 100px;
	border: 1px solid #000;
	position: relative;
	color: #FFF;
	background: transparent;
}

#colors div {
	-webkit-transition-property: background, color;
	-webkit-transition-duration: .5s;

	padding: 1px 0 1px 5px;
	font-family: arial;
	font-size: 9px;
	line-height: 9px;
	color: #aaa;
	height: 9px; 
	background: #000;
	/*border-bottom: 1px solid rgba(5,5,5,0.7);*/
}